:root {
  --appstore-background: #000;
  --googleplay-background: #000;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #222;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 12px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.btn {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 48px;
  padding: 9px 32px;
  font-family: inherit;
  text-decoration: none;
  color: #222;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  color: #fff;
  background-color: #222;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.pay-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #222;
  border-radius: 6px;
  padding: 14px 9px 12px 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pay-btn:hover {
  background-color: #222;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.appstore {
  display: inline-block;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.appstore svg {
  width: 166px;
  height: 48px;
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.appstore:hover svg {
  color: #000;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  --appstore-background: #fff;
}

.googleplay {
  display: inline-block;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.googleplay svg {
  width: 166px;
  height: 48px;
  color: #fff;
}

.googleplay:hover svg {
  color: #000;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  --googleplay-background: #fff;
}

.title {
  margin: 0;
  padding: 0 0 23px;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -1px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 22px;
}

.menu__link {
  font-family: inherit;
  text-decoration: none;
  color: #222;
}

.menu__link:hover {
  border-bottom: 1px solid #222;
}

.menu__link--active {
  border-bottom: 1px solid #222;
}

.header__wrapper {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 12px;
}

.header__logo {
  color: #222;
}

.header__logo svg {
  width: 38px;
  height: 38px;
}

.header__mastercard-logo {
  margin-left: 19px;
}

.header__mastercard-logo svg {
  width: 57px;
  height: 35px;
}

.account-menu {
  margin-left: 40px;
}

.account-menu :not(:nth-child(1)) {
  margin-left: 24px;
}

.main-menu {
  margin-left: auto;
}

.main-menu :not(:nth-child(1)) {
  margin-left: 33px;
}

.app {
  margin: -7px 0 0 42px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 13px;
  padding: 40px 0 75px;
}

.hero__content {
  padding: 162px 0 0 2px;
  max-width: 420px;
}

.hero__pretitle {
  position: relative;
  margin-bottom: 33px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 30px;
}

.hero__pretitle::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 0;
  width: 29px;
  height: 29px;
  background-image: url("../images/play-ico.svg");
}

.hero__title {
  margin-bottom: 3px;
  font-size: 43px;
  line-height: 49px;
}

.hero__download {
  padding-top: 13px;
}

.hero__appstore {
  display: inline-block;
  margin-bottom: 15px;
  height: 100%;
}

.hero__googleplay {
  display: inline-block;
  height: 100%;
}

.post-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 100px;
}

.post-item__content {
  max-width: 50%;
}

.post-item__img {
  max-width: 50%;
}

.warranty__inner {
  padding-bottom: 100px;
}

.warranty__content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding: 313px 50px 0 120px;
}

.warranty__img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.care__inner {
  margin-bottom: 100px;
  padding-bottom: 84px;
}

.care__content {
  padding: 221px 130px 0 0;
  max-width: 50%;
}

.care__img {
  margin-top: 25px;
}

.cashback__title {
  padding: 14px 0 2px;
}

.cashback__content {
  margin: 0 auto;
  max-width: 580px;
  text-align: center;
}

.cashback__more {
  margin-top: 46px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 58px 20px;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 25%;
}

.partners__item:nth-child(n+5) {
  margin-top: 64px;
}

.shopping-mastercard__content {
  padding-top: 219px;
  max-width: 475px;
}

.shopping-mastercard__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 28px;
}

.shopping-mastercard__applepay {
  margin-right: 20px;
}

.shopping-mastercard__applepay svg {
  width: 67px;
  height: 28px;
  color: #222;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.shopping-mastercard__applepay:hover svg {
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.shopping-mastercard__googlepay {
  padding: 17px 5px 2px 3px;
}

.shopping-mastercard__googlepay svg {
  width: 79px;
  height: 35px;
  color: #5f6368;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.shopping-mastercard__googlepay:hover svg {
  color: #fff;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.shopping-mastercard__img {
  margin-top: 20px;
}

.shopping-nofees__content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding: 166px 0 0 120px;
  max-width: 600px;
}

.shopping-nofees__img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-top: 21px;
}

.shopping-account__content {
  padding-top: 187px;
  max-width: 500px;
}

.shopping-account__title {
  max-width: 400px;
}

.shopping-account__img {
  margin-top: 9px;
}

.account-creation__inner {
  padding-bottom: 117px;
}

.account-creation__content {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding: 124px 5px 0 58px;
  max-width: 540px;
}

.account-creation__title {
  max-width: 350px;
}

.account-creation__download {
  margin-top: 34px;
}

.account-creation__appstore {
  margin-right: 21px;
}

.account-creation__img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-top: 41px;
}

.footer__wrapper {
  border-top: 1px solid #cbd6e2;
}

.footer__inner {
  padding: 45px 0 65px;
}

.footer__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 25px 0 50px;
}

.footer__menu {
  width: 100%;
  max-width: 17%;
}

.footer__menu-title {
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 22px;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.footer__menu-link svg {
  width: 40px;
  height: 40px;
}

.footer__menu-link:hover {
  border-bottom: 1px solid #222;
}

.footer__menu-link--no-hover:hover {
  border-bottom: none;
}

.footer__logo {
  display: block;
  margin-left: -33px;
}

.footer__logo svg {
  height: 24px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright p {
  max-width: 840px;
  font-size: 12px;
  line-height: 16px;
  color: #aaa;
}

.footer__copyright svg {
  margin-top: -10px;
  width: 176px;
  height: 59px;
}

/*# sourceMappingURL=main.css.map */
