<section class="account-creation post-item">
  <div class="container">
    <div class="account-creation__inner post-item__inner">
      <div class="account-creation__content post-item__content">
        <h2 class="account-creation__title post-item__title title">Quick and easy account creation</h2>
        <p>Now, you might be thinking that it’s just like any other account creation… Long, tiresome and full of endless blanks to fill in. Well, it’s not.</p>
        <p>We have designed the whole process to make it the simplest and the shortest one ever conceived for a personal account. Download the app and see for yourself!</p>
        <div class="account-creation__download">
          <a class="account-creation__appstore appstore" href="#">
            <svg class="appstore-ico">
              <use href="images/sprite.svg#appstore"></use>
            </svg>
          </a>
          <br />
          <a class="account-creation__googleplay googleplay" href="#">
            <svg class="googleplay-ico">
              <use href="images/sprite.svg#googleplay"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="account-creation__img post-item__img">
        <img class="account-creation__img-object" src="images/shopping4.jpg" width="555" height="435" alt="Quick and easy account creation image" />
      </div>
    </div>
  </div>
</section>