<section class="care post-item">
  <div class="container">
    <div class="care__inner post-item__inner">
      <div class="care__content post-item__content">
        <h2 class="care__title post-item__title title">ZEN Care</h2>
        <p>Shopping online is usually a delightful experience. Until it's not.</p>
        <p>Until something you buy, proves to be faulty, missing or a totally wrong item, you’re in for long product return procedures.</p>
        <p>But, here comes ZEN Care: a free, built-in shopping protection. You can rest assured we’ll handle all of the transaction-related problems faster and with higher success rates. Where lone consumers can be ignored or dumped by dishonest merchants, ZEN doesn't get discouraged. ZEN persists.</p>
      </div>
      <div class="care__img post-item__img">
        <img class="care__img-object" src="images/care.jpg" width="555" height="562" alt="ZEN care image" />
      </div>
    </div>
  </div>
</section>