<footer class="footer">
  <div class="footer__wrapper">
    <div class="container">
      <div class="footer__inner">
        <div class="footer__menu-container">
          <div class="footer__menu">
            <p class="footer__menu-title">Learn</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Help center</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Join ZEN team</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Privacy Policy</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Cookies</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Terms of use</a>
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-title">Discover</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">For developers</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Apple Pay</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Google Pay</a>
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-title">Offer</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Business</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Personal</a>
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-title">Language</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">English</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#" aria-label="">Polish</a>
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-title">Follow us</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link footer__menu-link--no-hover" href="#" aria-label="">
                  <svg class="linkedin-ico">
                    <use href="images/sprite.svg#linkedin-ico"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-title">Contact</p>
            <ul class="footer__menu-box">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="mailto:hello@zen.com" aria-label="">hello@zen.com</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="footer__logo logo" href="#" aria-label="logo">
          <svg class="logo__img">
            <use href="images/sprite.svg#logo2"></use>
          </svg>
        </a>
        <div class="footer__copyright">
          <p>ZEN.COM is a licensed financial institution under the supervision of the Central Bank of Lithuania approved by European Banking Authority for 31 countries. Registration number of the company 304749651, VAT ID LT100011714916. License of electronic money institutions number LB000457. Share capital 2.185.000,00 EUR. Company address: Mėsinių g. 5, LT-01133, Vilnius, Lithuania. Sales Office: ul. Emilii Plater 53, 00-113 Warsaw, Poland.</p>
          <svg class="pci_logo">
            <use href="images/sprite.svg#pci-logo"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</footer>