<header class="header">
  <div class="header__wrapper">
    <div class="container">
      <div class="header__inner">
        <a class="header__logo logo" href="/" aria-label="logo">
          <svg class="logo__img">
            <use href="images/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header__mastercard-logo mastercard-logo">
          <svg class="mastercard-logo__img">
            <use href="images/sprite.svg#mastercard-logo"></use>
          </svg>
        </div>  
        <nav class="account-menu">
          <ul class="account-menu__list menu">
            <li class="account-menu__item">
              <a class="account-menu__link menu__link" href="#">Personal</a>
            </li>
            <li class="account-menu__item">
              <a class="account-menu__link menu__link" href="#">Business</a>
            </li>
          </ul>
        </nav>
        <nav class="main-menu">
          <ul class="main-menu__list menu">
            <li class="main-menu__item">
              <a class="main-menu__link menu__link" href="#">Zenefits</a>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link menu__link" href="#">Features</a>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link menu__link" href="#">Pricing</a>
            </li>
          </ul>  
        </nav>
        <div class="app">
          <a class="app__link btn" href="#">Get app</a>
        </div>
      </div>
    </div>
  </div>
</header>