<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <p class="hero__pretitle">In every beginning, there is chaos.</p>
        <h1 class="hero__title title">Peaceful shopping. Mindful money.</h1>
        <p>See how we can help with making your shopping experience and money management more ZEN.</p>
        <div class="hero__download">
          <a class="hero__appstore appstore" href="#">
            <svg class="appstore-ico">
              <use href="images/sprite.svg#appstore"></use>
            </svg>
          </a>
          <br />
          <a class="hero__googleplay googleplay" href="#">
            <svg class="googleplay-ico">
              <use href="images/googleplay.svg"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero__img">
        <img class="hero__img-object" src="images/hero.jpg" width="555" height="515" alt="image" />
      </div>
    </div>
  </div>
</section>