<section class="shopping-account post-item">
  <div class="container">
    <div class="shopping-account__inner post-item__inner">
      <div class="shopping-account__content post-item__content">
        <h2 class="shopping-account__title post-item__title title">One app, one account, many currencies</h2>
        <p>ZEN Mastercard® was made for spending money. ZEN account is here to store and manage it peacefully, from the inside of your pocket.</p>
        <p>You can use it just like a regular account, as it has its own IBAN and works just the way any bank account would — but better. Store up to 30 currencies and transfer them easily in many ways.</p>
      </div>
      <div class="shopping-account__img post-item__img">
        <img class="shopping-account__img-object" src="images/shopping3.jpg" width="585" height="522" alt="Shopping with no fees image" />
      </div>
    </div>
  </div>
</section>