<section class="shopping-nofees post-item">
  <div class="container">
    <div class="shopping-nofees__inner post-item__inner">
      <div class="shopping-nofees__content post-item__content">
        <h2 class="shopping-nofees__title post-item__title title">Shopping with no fees</h2>
        <p>Online shopping is flawed with all kind of fees. Currency exchange fees, processing fees and even fees for having multiple fees. Getting rid of them became our hobby. Same goes for ATM withdrawal fees.</p>
        <p>Enjoy your money globally. Every uncut part of it. Keep reading. ZEN goes beyond shopping with a fully functional account.</p>
      </div>
      <div class="shopping-nofees__img post-item__img">
        <img class="shopping-nofees__img-object" src="images/shopping2.jpg" width="585" height="422" alt="Shopping with no fees image" />
      </div>
    </div>
  </div>
</section>