<section class="cashback">
  <div class="container">
    <div class="cashback__inner">
      <div class="cashback__content">
        <h2 class="cashback__title title">and cashback!</h2>
        <p>It saves a little bit of money while you’re shopping, but in many cases it takes ages to get anything out of it. We gave it a thought and made cashback way more friendly. Up to 14% of what you spend using ZEN Mastercard ® will materialize on your account right after the purchase. It's like you haggled some cash, despite you didn't have to. Just don't forget to use in-app cashback link.</p>
        <a class="cashback__more btn" href="#">Show more partners</a>
      </div>
      <div class="cashback__partners">
        <ul class="partners__list">
          <li class="partners__item">
            <img class="partners__img" src="images/booking-ico.svg" width="192" height="70" alt="Booking ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/aliexpress-ico.svg" width="192" height="70" alt="AliExpress ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/allegro-ico.svg" width="192" height="70" alt="Allegro ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/zalandolounge-ico.svg" width="192" height="70" alt="Zalando lounge ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/lidl-ico.svg" width="192" height="70" alt="Lidl ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/mediamarket-ico.svg" width="192" height="70" alt="Media market ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/euro-ico.svg" width="192" height="70" alt="Euro ico image" />
          </li>
          <li class="partners__item">
            <img class="partners__img" src="images/groupon-ico.svg" width="192" height="70" alt="Groupon ico image" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>