<section class="shopping-mastercard post-item">
  <div class="container">
    <div class="shopping-mastercard__inner post-item__inner">
      <div class="shopping-mastercard__content post-item__content">
        <h2 class="shopping-mastercard__title post-item__title title">ZEN shopping Mastercard <sup>&reg;</sup></h2>
        <p>You shouldn’t be bound to use one card at a time, especially when it has so many benefits! With ZEN, you can manage your shopping and finances with both physical and virtual cards. It’s convenient, streamlined, and works like a charm. You can have a shopping card, a subscription card, and whatever other cards that make sense to you.</p>
        <div class="shopping-mastercard__actions">
          <a class="shopping-mastercard__applepay pay-btn" href="#" aria-label="Apple pay">
            <svg class="applepay-ico">
              <use href="images/sprite.svg#applepay-ico"></use>
            </svg>
          </a>
          <a class="shopping-mastercard__googlepay pay-btn pay-btn--googlepay" href="#" aria-label="Google pay">
            <svg class="googlepay-ico">
              <use href="images/sprite.svg#googlepay-ico"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="shopping-mastercard__img post-item__img">
        <img class="shopping-mastercard__img-object" src="images/shopping1.jpg" width="585" height="589" alt="zen shopping mastercard image" />
      </div>
    </div>
  </div>
</section>