<section class="warranty post-item">
  <div class="container">
    <div class="warranty__inner post-item__inner">
      <div class="warranty__content post-item__content">
        <h2 class="warranty__title post-item__title title">1-year warranty boost</h2>
        <p>ZEN cards have a very neat feature that will help you whenever your electronic devices start failing after the standard warranty ends, which is pretty common.</p>
        <p>When you buy any electronics with your ZEN shopping Mastercard®, their warranty gets extended by one year. How does it work? It simply does. Automatically.</p>
      </div>
      <div class="warranty__img post-item__img">
        <img class="warranty__img-object" src="images/warranty.jpg" width="585" height="657" alt="warranty image" />
      </div>
    </div>
  </div>
</section>