.account-creation {
  &__content {
    order: 2;
    padding: 113px 30px 0 54px;
    max-width: 540px;
  }

  &__title {
    max-width: 350px;
  }

  &__download {
    margin-top: 25px;
  }

  &__appstore {
    margin-right: 8px;
  }

  &__img {
    order: 1;
    margin: 36px 0 0 30px;
  }
}