.account-creation {
  &__inner {
    padding-bottom: 117px;
  }

  &__content {
    order: 2;
    padding: 124px 5px 0 58px;
    max-width: 540px;
  }

  &__title {
    max-width: 350px;
  }

  &__download {
    margin-top: 34px;
  }

  &__appstore {
    margin-right: 21px;
  }

  &__img {
    order: 1;
    margin-top: 41px;
  }
}