.footer {
  &__wrapper {
    border-top: 1px solid #cbd6e2;
  }

  &__inner {
    padding: 45px 0 65px;
  }

  &__menu-container {
    display: flex;
    justify-content: flex-start;
    padding: 25px 0 50px;
  }

  &__menu {
    width: 100%;
    max-width: 17%;
  }

  &__menu-title {
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 22px;
  }

  &__menu-item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__menu-link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
    transition: border-color 0.3s;

    svg {
      width: 40px;
      height: 40px;
    }

    &:hover {
      border-bottom: 1px solid #222;
    }
  }

  &__menu-link--no-hover {
    &:hover {
      border-bottom: none;
    }
  }

  &__logo {
    display: block;
    margin-left: -33px;

    svg {
      height: 24px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    p {
      max-width: 840px;
      font-size: 12px;
      line-height: 16px;
      color: #aaa;
    }

    svg {
      margin-top: -10px;
      width: 176px;
      height: 59px;
    }
  }
}