.header {
  &__wrapper {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 0 12px;
  }

  &__logo {
    color: #222;

    svg {
      width: 38px;
      height: 38px;
    }
  }

  &__mastercard-logo {
    margin-left: 19px;

    svg {
      width: 57px;
      height: 35px;
    }
  }
}
