.hero {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 40px 0 75px;
  }

  &__content {
    padding: 162px 0 0 2px;
    max-width: 420px;
  }

  &__pretitle {
    position: relative;
    margin-bottom: 33px;
    padding-left: 38px;
    font-size: 16px;
    line-height: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 0;
      width: 29px;
      height: 29px;
      background-image: url("../images/play-ico.svg");
    }
  }

  &__title {
    margin-bottom: 3px;
    font-size: 43px;
    line-height: 49px;
  }

  &__download {
    padding-top: 13px;
  }

  &__appstore {
    display: inline-block;
    margin-bottom: 15px;
    height: 100%;
  }

  &__googleplay {
    display: inline-block;
    height: 100%;
  }
}