.partners {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
  }

  &__item {
    width: 100%;
    max-width: 25%;
    text-align: center;

    &:nth-child(n+5) {
      margin-top: 45px;
    }
  }
}