.partners {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 58px 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25%;

    &:nth-child(n+5) {
      margin-top: 64px;
    }
  }
}