.shopping-mastercard {
  &__content {
    padding-top: 219px;
    max-width: 475px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 28px;
  }

  &__applepay {
    margin-right: 20px;

    svg {
      width: 67px;
      height: 28px;
      color: #222;
      transition: color 0.3s;
    }

    &:hover {
      svg {
        color: #fff;
        transition: color 0.3s;
      }
    }
  }

  &__googlepay {
    padding: 17px 5px 2px 3px;

    svg {
      width: 79px;
      height: 35px;
      color: #5f6368;
      transition: color 0.3s;
    }

    &:hover {
      svg {
        color: #fff;
        transition: color 0.3s;
      }
    }
  }

  &__img {
    margin-top: 20px;
  }
}